.container{
	width: 100%;
	background-color: purple;
}

.diskRow{
	text-align: center;
	float:none;
}

.gameDisk{
	height: 5vw;
	border: 1px solid black;
}

.startGame{
	margin-bottom: 1em;
}

.title{
	font-family: sans-serif;
	font-weight: bold;
}

span{
	font-weight: bold;
}

.tower{
	width: 100vw;
	height: 90vh;
	background-color: white;
	border: 1px solid black;
	bottom:0;
}

.stack{
	position: absolute;
  bottom: 0;
	background-color: white;
	border: 1px solid black;
}

.quit{
	margin: 5vw;
}

.invisible{
	display: none;
}

.black{
	background-color: black;
}